*{
	padding: 0;
	margin: 0;
}

html,body{
	background-color: grey;
}
.center{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.local{
	color: white;
	font-size: 2rem;

}
.clock{
	background-color: #d1cfcb;
	height: 40px;
	width: 150px;
	margin-top: 10px;
	border-radius: 5px;
	color: azure;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
